{% extends 'layout.html' %}

{% block ac_controller_web %}

<div class="header">
  <h1 class="text-center">Air-Conditioner controller Using Fuzzy Logic</h1>
</div>

<div class="container">
  <form action="/output" method="POST">
    <label>Temperature of surrounding</label>
    <input type="number" name="temp" required min="1.0" max="40.0">
    <span class="form-text">
      Must be between 0 to 40 (in degree celcius).
    </span>
    <label>Humidity % in surrounding</label>
    <input type="number" name="humidity" required min="1.0" max="100.0">
    <span class="form-text">
      Must be between 0 to 100 (in percentage).
    </span>
    <br/>
    <button class="btn" type="submit" value="submit">Compute command</button>
  </form>
</div>
{% if result %}
<div class="Result">
    <h2 align="center">
      Temperature: {{temperature}}
      <br />
      Humidity percent: {{humidity}}
    </h2>
    <h1 align="center">
      Rcommendation: {{result}}
      <br />
      Control: {{command}}
    </h1>
</div>
{% endif %}

{% endblock ac_controller_web %}