{% extends 'layout.html' %}

{% block ac_controller_web %}

<div class="header">
  <h1 class="text-center">Air-Conditioner Controller</h1>
</div>

<div class="container">
  <form action="/output" method="POST">
    <label>Temperature of surrounding (&deg;C)</label>
    <input type="number" name="temp" required min="0" max="40" step="0.1" placeholder="e.g. 25.5">
    <span class="form-text">
      Must be between 0 and 40.
    </span>

    <label>Humidity % in surrounding</label>
    <input type="number" name="humidity" required min="0" max="100" step="0.1" placeholder="e.g. 50.0">
    <span class="form-text">
      Must be between 0 and 100.
    </span>

    <button class="btn" type="submit" value="submit">Compute Command</button>
  </form>
</div>

{% if result %}
<div class="Result">
  <h2>
    Temperature: {{temperature}}&deg;C | Humidity: {{humidity}}%
  </h2>
  <h1>
    Recommendation: {{result}}
    <br />
    Control: {{command}}
  </h1>
</div>
{% endif %}

{% endblock ac_controller_web %}