{% extends 'layout.html' %}

{% block ac_controller_web %}

<div class="header">
  <h1 class="text-center">Air-Conditioner controller Using Fuzzy Logic</h1>
</div>

<div class="container">
  <form action="/" method="POST">
    <label>Temperature of surrounding</label>
    <input type="number" name="temp" required min="1" max="40">
    <span class="form-text">
      Must be between 0 to 40 (in degree celcius).
    </span>
    <label>Humidity % in surrounding</label>
    <input type="number" name="humidity" required min="1" max="100">
    <span class="form-text">
      Must be between 0 to 100 (in percentage).
    </span>
    <br/>
    <button class="btn" type="submit" value="submit">Compute command</button>
  </form>
</div>

<div class="Result">
    <h1 align="center">{{result}}</h1>
</div>

{% endblock ac_controller_web %}