<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fuzzy Logic Air-Conditioner Controller Recommendation System</title>
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Interactive Fuzzy Logic Air-Conditioner Controller Recommendation System. Real-time computes recommended temperatures based on ambient conditions.">
    <meta name="keywords" content="Fuzzy Logic, AC Controller, Mamdani rules, Centroid defuzzification, AI simulation, Python Flask">
    <meta name="author" content="Sanjeev Bhandari (@realsanjeev)">
    
    <link rel="canonical" href="https://bhandarisanjeev.com.np/Air-conditioner-controller-recommendation-using-fuzzy-logic/" />
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/icon.png" type="image/png">

</head>
<body>
    {% block ac_controller_web %}
    {% endblock ac_controller_web %}
</body>
</html>